/* public */
/* 公共样式 */
.w1000 {
	width:1000px;
	margin:0 auto;
}
.w1180 {
	width: 1180px;
	margin:0 auto;
}
.pd10lr{
	padding-left: 10px;
	padding-right: 10px;
}
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1488521722656'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1488521722656#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1488521722656') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1488521722656') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1488521722656#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* 后加iconfont */
@font-face {
  font-family: 'icon_new';  /* project id 253062 */
  src: url('../../fonts/iconfont.eot');
  src: url('../../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/iconfont.woff') format('woff'),
  url('../../fonts/iconfont.ttf') format('truetype'),
  url('../../fonts/iconfont.svg#iconfont') format('svg');
}
.icon_new{
  font-family:"icon_new" !important;
  font-size:inherit;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* 方正粗黑简体 */
@font-face {
	font-family: "fzch";
	src: url(../fonts/FZZCHJW-GB1-0.otf);
}
/* 公共组件 */
/* 头部 */
body {
	/*background:url(../images/index_bg.jpg) no-repeat;*/
	background-size:cover;
	font-size:14px;
}
.welcome {
	background-color: #f4f4f4;
	height: 35px;
	line-height: 35px;
	font-size: 13px;
	color: #999;
}
.welcome .icon_new {
	vertical-align: top;
}
.welcome .fl span {
	margin-right: 12px;
}
.welcome span.msg {
	margin-right: 20px;
}
.welcome .icon_login {
	font-size: 16px;
	-webkit-text-stroke-width: 0;
}
.header .fr img {
	margin-right:10px;
}
.header .fr img:last-child {
	margin-right:0;
}
.header .nav_wrap{
	height: 106px;
	line-height: 106px;
	background-image: url(../images/header_bg_03.png);
	background-repeat: no-repeat;
	background-size: cover;
}

/* 搜索条公共化 */
.bar_search {
	margin-bottom: 8px;
}
.bar_search .tree_wrap {
	display:inline-block;
	width:255px;
	border:1px solid #e3e3e3;
	border-radius: 3px;
	padding: 0 0 0 15px;
	line-height: 43px;
	font-size: 14px;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
}
.bar_search .tree_wrap .fl .icon_new {
	margin-right: 21px;
}
.bar_search .icn_wrap {
	width: 24px;
	height: 100%;
	background: #e9e9e9;
	text-align: center;
}
.bar_search .tree_wrap .trees {
	position: absolute;
    width: 257px;
    background: #fff;
    top: 45px;
    left: -3px;
    border: none;
    z-index: 2;
    border-top: none;
}
.bar_search .trees .layer1 {
	background: #f4f4f4;
}
.bar_search .trees .layer1 li {
	font-size: 14px;
	line-height: 36px;
	color: #1a1a1a;
	padding-left: 25px;
	text-align: justify;
}
.bar_search .trees .layer1 .icon_new {
	margin-right: 10px;
}
.bar_search .trees .layer1 li.active {
	background: #ba2029;
	color: #fff;
}
.bar_search .trees .divlayer2 {
	position: absolute;
	width: 660px;
	top: 0;
	left: -9999px;
	background: #fff;
	color:#333;
	font-size: 12px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #f1f1f1;
}
.bar_search .layer1 li.active .divlayer2 {
	left: 255px;
}
.bar_search .trees .divlayer2 dd {
	line-height: 24px;
	padding: 10px 0;
	border-bottom: 1px solid #eaeaea;
}
.bar_search .trees .divlayer2 dd:last-child {
	border-bottom: none;
}
.bar_search .divlayer2 p.layer3 {
	padding-left: 200px;
	position: relative;
}
.bar_search .layer3 b.title2 {
	width: 200px;
	text-align: right;
	position: absolute;
	left: 0;
	top: 0;
	font-weight: bold;
	font-size: 14px;
	color: #333;
}
.bar_search .layer3 .arrow-r {
	font-size: 12px;
    vertical-align: top;
}
.bar_search .divlayer2 p.layer3 span {
	padding: 0 5px;
	white-space: nowrap;
}
.bar_search .sch_btn {
	display: inline-block;
	cursor: pointer;
	width: 130px;
	height: 43px;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	text-align: center;
	line-height: 43px;
}
.bar_search .sch_btn .icon_new {
	margin-right: 11px;
	font-size: 18px;
	-webkit-text-stroke-width: 0;
	vertical-align: middle;
}
.bar_search .search_box {
	height: 44px;
	line-height: 44px;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
}
.bar_search .search_box .click_area {
	display: inline-block;
	background: #f4f4f4;
	padding-left: 10px;
	box-sizing: border-box;
	cursor: pointer;
	position: relative;
}
.bar_search .area_ddl {
	position: absolute;
	background: #fff;
	left: 0;
	border: 1px solid #e3e3e3;
	width: 738px;
	padding: 25px 15px;
	box-sizing: border-box;
	z-index: 10;
	text-align: justify;
	line-height: initial;
}
.bar_search .area_ddl .option_box {
	border: 1px solid #dcdcdc;
	padding: 10px;
	margin: 10px 0;
}
.bar_search .area_ddl .base_chosen {
	color: #b91f29;
	padding: 0 5px;
}
.bar_search .area_ddl .btn_wrap {
	text-align: right;
	padding-right: 44px;
}
.bar_search .btn_wrap .button {
	display: inline-block;
	line-height: 30px;
	height: 30px;
	padding: 0 18px;
	border-radius: 3px;
}
.bar_search .btn_wrap .btn_cancel {
	background: #e9e9e9;
	color: #1a1a1a;
}
.bar_search .btn_wrap .btn_ok {
	background: #c0232e;
	color: #fff;
}
.bar_search .option_box span {
	display: inline-block;
	height: 28px;
	border-radius: 3px;
	padding: 0 10px;
	line-height: 28px;
	color: #999;
}
.bar_search .option_box span.active {
	color: #fff;
	background: #c0232e;
}
.bar_search .search_box .base_name {
	color: #999;
	display: inline-block;
	width: 120px;
	text-align: center;
	margin-left: 10px;
}
.bar_search .search_box .input_wrap {
	display: inline-block;
	line-height: 44px;
	padding-left: 10px;
}
.bar_search .input_wrap input {
	margin-left: 50px;
	-webkit-appearance: none;
	border: none;
	width: 205px;
	font-size: 14px;
}
.bar_search .search_box .redbtn {
	width: 104px;
	display: inline-block;
	text-align: center;
	color: #fff;
	border-radius: 0 3px 3px 0;
	background: #b82108;
	font-size: 18px;
	cursor: pointer;
}

/* 区块标题头 */
.base_box {
	padding-bottom: 15px;
}
.base_box .head {
	border-bottom: 1px solid #e8e8e8;
	color: #1a1a1a;
	line-height: 28px;
	position: relative;
}
.base_box .head .ttl {
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #c1242f;
	position: absolute;
	bottom: -1px;
}
.base_box .head .more {
	font-size: 12px;
	color: #b0202a;
}

/* 热搜案例 */
.flag {
	margin-bottom: 15px;
}
.flag .title {
	display: inline-block;
	background: #c0232e;
	color: #fff;
	font-size: 18px;
	padding: 5px 8px;
	font-weight: bold;
	margin-right: 6px;
}
.flag .title_en {
	font-size: 12px;
	line-height: 18px;
	color: #5a5b5b;
	font-weight: bold;
}
.flag .more {
	font-size: 12px;
    color: #b0202a;
    line-height: 30px;
}
.flag .list_wrap {
	background: url(../images/index_bg3_14.png) no-repeat;
	background-size: cover;
	padding: 20px 15px;
	overflow: hidden;
	text-align: justify;
}
.flag .list_wrap li {
	line-height: 30px;
	font-size: 13px;
	color: #1a1a1a;
}
.list_wrap .num {
	width: 19px;
	height: 19px;
	display: inline-block;
	border-radius: 3px;
	color: #fff;
	background: #525252;
	margin-right: 10px;
	line-height: 19px;
	text-align: center;
}
.list_wrap a:first-child .num, .index .list_wrap a:nth-child(2) .num, .index .list_wrap a:nth-child(3) .num {
	background: #b82108;
}
.list_wrap .ttl{
	width: 240px;
	max-width: 240px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
    line-height: 1;
}
.list_wrap a:hover .ttl {
	color:#406599;
}
/* 面包屑 */
.breadcrumb {
	height: 50px;
	line-height: 50px;
	text-align: right;
	color: #666;
}
/* footer */
.footer {
	margin-top: 28px;
	color: #666;
}
.footer .contact {
	width: 550px;
	font-size: 13px;
}
.footer .contact p{
	line-height: 18px;
}
.footer .coop {
	color: #414141;
	font-size: 14px;
	width: 434px;
}
.footer .coop img {
	margin-bottom: 10px;
}
.footer .copyright {
	text-align: center;
	font-size: 12px;
	color: #8d8d8d;
	margin-top: 67px;
	padding-bottom: 20px;
}
/******************* 首页 ******************/

.index .nav span {
	/*width:40px;*/
	padding:0 5px;
	height:23px;
	display:inline-block;
	text-align:center;
	line-height:23px;
	margin-left:5px;
	cursor:pointer;
}
.index .nav span.active {
	border-radius:5px;
	background-color: #bf232d;
	color:#fff;
}

/* 竖分割线 虚线*/
.index .divider{
	display:inline-block;
	width:0;
	height:11px;
	border-right:1px dashed #bf232d;
	margin: 0 3px;
}

/* 导航条 */
.index .nav_bar {
	border: 1px solid #f1f1f1;
	padding: 3px 0;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.index .content {
	background:#fff;
	box-shadow: 0 0 10px #e1e1e1;
	-webkit-box-shadow: 0 0 10px #e1e1e1;
	-moz-box-shadow: 0 0 10px #e1e1e1;
	box-sizing: border-box;
	padding-top: 15px;
	position: relative;
}
/* 小轮播图 */
.index .swiper1 .swiper-container, .index .swiper1 .swiper-slide {
    width: 317px;
    height: 356px;
    display: inline-block;
}
.index .swiper1 .swiper-container {
	border: 1px solid #f1f1f1;
}
.index .swiper1 .swiper-slide {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23bf5e58'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto;
}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper1 .swiper-button-next, .swiper1 .swiper-button-prev {
	width: 23px;
	height: 45px;
	border-radius: 5px;
	background-size: 10px 20px;
	background-color: #ededed;
}
.swiper1 .swiper-button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23bf5e58'%2F%3E%3C%2Fsvg%3E");
}
.swiper1 .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23bf5e58'%2F%3E%3C%2Fsvg%3E");
    left: 0.4rem;
}
.swiper-button-next.swiper-button-disabled {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23262523'%2F%3E%3C%2Fsvg%3E")
}
.swiper-button-prev.swiper-button-disabled {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23262523'%2F%3E%3C%2Fsvg%3E")
}

.index .whiteBox{
	background-color: #fff;
	box-shadow: 0 0 10px #961b24;
	-webkit-box-shadow: 0 0 10px #961b24;
	-moz-box-shadow: 0 0 10px #961b24;
	height:446px;
	background-image:url(../images/index_bg_2_03.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.index .whiteBox p.title {
	margin:0 60px 0 23px;
	font-size: 20px;
	line-height: 30px;
	padding-top: 70px;
}
.index .whiteBox .action {
	color:#e35859;
	padding-left: 24px;
	margin-top: 10px;
}
.index .whiteBox .action span:first-child{
	margin-right: 10px;
}
.index .whiteBox .bases_box {
	margin-top: 56px;
}
.index .bases_box .base_name {
	font-weight: bold;
	font-size: 16px;
	color: #c0232e;
}
.index .bases_box .base_intro {
	color: #666;
	margin-top: 9px;
}
.index .bases_box li{
	margin-bottom: 20px;
	padding-left: 64px;
}
.index .bases_box li:first-child{
	background:url(../images/index_logo1_17.png) no-repeat;
}
.index .bases_box li:nth-child(2) {
	background: url(../images/index_logo2_03.png) no-repeat;
}
.index .bases_box li:last-child{
	margin-bottom: 0;
	background: url(../images/index_logo3_06.png) no-repeat;
}

/* swiper分页 */
.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
}
.swiper-active-switch {
	opacity: 1 !important;
	background: #007aff !important;
}
.swiper-pagination-switch {
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	background: #000;
	opacity: .2;
}
.swiper-pagination {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.swiper-pagination {
    line-height: 26px;
}
.swiper-pagination-switch {
    margin: 0 5px;
}
.swiper-pagination-switch {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
}


/* 大轮播图 */
.index .swiper2 .swiper-container,.index .swiper2 .swiper-slide {
	width: 652px;
	height: 356px;
	display: inline-block;
}
.index .content .subcontent {
	width: 310px;
	display: inline-block;
}
.index .swiper2 .mask{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 130px;
	background: rgba(0,0,0,0.5);
	padding:15px 10px 0 30px;
	color:#fff;
	z-index: 9;
}
.index .swiper2 .swiper-button-prev {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	top: 280px;
	left: 550px;
}
.index .swiper2 .swiper-button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	top: 280px;
	left: 612px;
}
.index .mask p.title {
	font-size: 36px;
	font-weight: bold;
	line-height: 44px;
}
.index .mask p.intro {
	font-size: 14px;
	line-height: 24px;
	display: inline-block;
	width: 415px;
}
.index .mask .direction {
	position: absolute;
	right: 74px;
	bottom: 34px;
}
/* 案例库区块 */

.index .base_box .abstract {
	font-size: 12px;
	line-height: 20px;
	color: #666;
	margin: 20px 0;
	text-align: justify;
}
.base_box .abstract span.point {
	color: #d33c3e;
}
.index .base_box .timebar{
	border:1px solid #e9e9e9;
	height: 26px;
	background: #f5f5f5;
	border-radius: 3px;
	color: #c0232e;
	padding: 0 12px;
	line-height: 26px;
}
.index .base_datas {
	margin-top: 5px;
}
.index .base_datas li {
	background: url(../images/list_icn.png) no-repeat;
	padding-left: 20px;
	font-size: 13px;
	line-height: 28px;
	border-bottom: 1px dashed #e9e9e9;
	background-position-y: 9px;
	text-align: left;
}
.index .base_datas li>a {
	max-width: 270px;
    overflow: hidden;
    white-space: nowrap;
    width: 270px;
    display: inline-block;
    text-overflow: ellipsis;
    line-height: 1;
}
.index .ad {
	margin-bottom: 15px;
}

/* 右下swiper */
.index .flag .swiper-container {
	margin-top: 25px;
	height: 290px;
}
.index p.aboutus {
	font-size: 13px;
	line-height: 24px;
	color: #1a1a1a;
	text-align: justify;
	padding: 10px 18px 20px 10px;
}

/* 最右侧浮标 */
.index .floatdiv {
	position: fixed;
	right: 0;
	top: 240px;
	text-align: center;
	font-size: 14px;
	color: #444;
}
.index .floatdiv .cell {
	width: 53px;
	height: 53px;
	border-radius: 5px;
	background: #ff8081;
	line-height: 53px;
	cursor: pointer;
	margin-bottom: 5px;
	color: #fff;
	font-size: 30px;
}
.index .floatdiv .cell.active {
	background: #d33d3e;
}
.index .floatdiv .cell.qr {
	position: relative;
}
.index .floatdiv .show-qr {
	position: absolute;
	left: -338px;
	width: 338px;
	border-radius: 5px;
	padding: 15px 25px;
	box-shadow: 0 0 10px #ccc;
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	text-align: center;
	line-height: initial;
	box-sizing: border-box;
	top: 0;
}
.index .show-qr p.txt {
	font-size: 14px;
	color: #333;
	margin-top: 15px;
}
.index .floatdiv .label {
	margin-top: 10px;
}
/* 红色小浮标 */
.index .float2 {
	position: fixed;
	right: 91px;
	top: 447px;
	width: 35px;
	background: #c22530;
	color: #fff;
	font-size: 15px;
	line-height: 18px;
	padding: 5px 5px;
	box-sizing: border-box;
	text-align: center;
}

/**********************政务文献库列表******************/
.list .header .base_name {
	background: url(../images/base_icn_03.png) no-repeat;
	padding-left: 44px;
	font-size: 30px;
	color:#f84b3f;
	background-position-y: 6px;
	font-family: "fzch";
}
.list .content {
	padding: 25px 10px;
	background: #fff;
	box-shadow: 0 0 10px #e1e1e1;
	-webkit-box-shadow: 0 0 10px #e1e1e1;
	-moz-box-shadow: 0 0 10px #e1e1e1;
}
.list .title_list {
	margin-top: 26px;
}
.list .title_list li {
	background: url(../images/list_icn.png) no-repeat;
    padding-left: 30px;
    font-size: 16px;
    line-height: 36px;
    color: #333;
    background-position-y: 13px;
    background-position-x: 8px;
    text-align: left;
}
.list .base_box .head .ttl {
	position: initial;
	display: inline-block;
}
.list .base_box .head {
	position: initial;
}
a:hover li {
	color:#406599;
}
.list li:hover {
	color:#406599;
}
.list .ad {
	margin-bottom: 10px;
}
.list .ad img {
	margin-top: 10px;
}
.list .sz_list {
	font-size: 13px;
	line-height: 28px;
	padding-top: 15px;
}
.list .sz_list li {
	background: url(../images/list_icn2.png) no-repeat;
	padding-left: 20px;
	background-position-y: 10px;
}
/*********************搜索页面*******************/
.search .content {
	padding-top: 40px;
}
.search .content_left {
	width: 895px;
}
.search .content_left .top {
	color: #666;
	border-bottom: 1px solid #ececec;
	position: relative;
}
.search .content_left span.area {
	color: #ef2020;
	margin-right: 5px;
}
.search .top .orderby {
	/*position: relative;*/
	padding-bottom: 16px;
	cursor: pointer;
}
.search .top .orderby .orders {
	position: absolute;
	background: #fff;
	top: 18px;
	right: 0;
	border: 1px solid #ececec;
	/*padding:10px 20px;*/
	line-height: 36px;
	color: #333;
}
.search .orders .icon_new {
	margin-right: 8px;
}
.search .orders p {
	cursor: pointer;
	padding: 0 20px;
}
.search .orders p:hover {
	background: #f4f4f4;
}
.search .content_right {
	width: 240px;
}
/* 最左侧筛选条件 */
.search .filter {
	width: 164px;
}
.search .filter .cell {
	padding-top: 30px;
}
.search .filter .cell .ttl {
	color: #999;
}
.search .filter .cell .condition {
	vertical-align: middle;
}
.search .filter .cell .ttl .unfold {
	font-size: 20px;
	cursor: pointer;
}
.search .filter_item li {
	color: #333;
	padding-left: 15px;
	background: url(../images/icn_dot.png) no-repeat 0 center;
	line-height: 25px;
	background-size: 5px;
	cursor: pointer;
}
/* 中间筛选结果 */
.search .results {
	width: 688px;
}
.search .results .item {
	padding: 30px 0;
	border-bottom: 1px solid #ececec;
}
.search .results .item:last-child {
	border: none;
}
.search .results .item.active {
	background: #f4f4f4;
}
.search .results .item a:hover {
	text-decoration: underline;
}
.search .results .item .title {
	font-size: 18px;
	color: #1a1a1a;
	margin-bottom: 20px;
}
.search .results .keyword {
	color: #d33c3e;
}
.search .results .item .abstract {
	line-height: 24px;
}
.search .results .item .info {
	font-size: 12px;
	color: #999;
	margin-top: 18px;
}
/* 分页 */
.search .pager {
	line-height: 46px;
	border: 1px solid #eeeeee;
	background: #f8f8f8;
	text-align: center;
	margin-top: 15px;
}
.search .pager .page_btn {
	width: 107px;
	text-align: center;
	line-height: 46px;
	border: 1px solid #e2e2e2;
	box-sizing: border-box;
	background: #fff;
}
.search .pager .page_list {
	display: inline-block;
}
.search .pager .page_num {
	width: 46px;
	height: 100%;
	display: inline-block;
	text-align: center;
	border: 1px solid #e2e2e2;
	box-sizing: border-box;
	background: #fff;
}
.search .pager .page_num.current {
	background: #f6f6f6;
	color: #d33c3e;
}

.search .head {
	position: initial;
}
.search .base_box .head .ttl {
	position: initial;
	display: inline-block;
}
.search .base_box p {
	line-height: 25px;
	margin-top: 25px;
}
.search .link_more {
	color: #d33c3e;
}
.search .tj-wrap {
	padding-top: 25px;
}
.search .bar_search .sch_btn {
	border: none;
}
/************************** 政情数据库***************************/
.zq .tips .icon_new {
	color: #de6c6e;
	margin-right: 11px;
}
.zq .tips i.tip {
	color: #999;
}
.zq .container-box {
	border: none;
}
.zq .flex_box {
	display: flex;
	display: -webkit-flex;
	text-align: justify;
}
.zq .flex_box .flex_cell {
	flex: 1;
	-webkit-flex: 1
}
.zq .pics {
	padding: 55px 0;
}
.zq .pics .flex_cell {
	padding-top: 210px;
	background-repeat: no-repeat;
	background-size: auto 196px;
	background-position: center 0;
	text-align: center;
	width: 154px;
	font-size: 16px;
}
.zq .intro_wrap {
	padding: 0 50px;
}
/* 介绍文字 */
.zq .intro {
	padding-bottom: 67px;
	border-bottom: 1px solid #f4f4f4;
}
.zq .intro p {
	line-height: 25px;
}
/* 各种字段 */
.zq .intro_wrap .infos {
	padding-top: 38px;
	padding-bottom: 210px;
	border-bottom: 1px solid #f4f4f4;
}
.zq .intro_wrap .infos .info-left {
	width: 438px;
	overflow: hidden;
}
.zq .infos span.key {
	display: inline-block;
	width: 100px;
	position: absolute;
	left: 0;
}
.zq .key-value {
	position: relative;
	padding-left: 100px;
	line-height: 25px;
}
/****************************** 注册弹窗 & 登录弹窗 ********************/
.layer_reg .content {
	padding: 15px 24px;
}
.layer_reg .logo_wrap {
	text-align: center;
}
.layer_reg .title {
	font-size: 16px;
	line-height: 36px;
	height: 36px;
	color: #999;
	text-align: center;
	position: relative;
	margin-top: 30px;
}
.layer_reg .abs_txt {
	position: absolute;
	left: 50%;
	display: inline-block;
	background-color: #fff;
	padding: 0 15px;
	top: 0;
}
.layer_reg .input-wrap {
	margin-top: 30px;
}
.layer_reg .input-wrap input {
	width: 100%;
	height: 49px;
	border-radius: 3px;
	line-height: 49px;
	padding-left: 56px;
	box-sizing: border-box;
	border: 1px solid #eee;
}
.layer_reg .Validform_wrong {
	font-size: 12px;
	line-height: 36px;
	color: #333;
}
/*
.layer_reg .Validform_checktip:before {
	display: inline-block;
	content: '';
	width: 25px;
	line-height: 36px;
	height: 36px;
	background: url(../images/form_error_03.png) no-repeat 0 center;
}
*/
.layer_reg .Validform_right {
	display: none;
}
.layer_reg .button {
	line-height: 50px;
	border-radius: 3px;
	background-color: #d33c3e;
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 40px;
	cursor: pointer;
}
.layer_reg .login_link {
	text-align: center;
}
.frm_login_reg {
	padding: 0 105px;
}
.frm_login_reg input:first-child {
	background: url(../images/icn_phone.png) no-repeat 17px center;
}
.frm_login_reg .input-group:nth-child(3) input {
	background: url(../images/icn_lock.png) no-repeat 17px center;
}
.frm_login_reg .input-group:nth-child(4) input {
	background: url(../images/icn_lock.png) no-repeat 17px center;
}
.frm_login_reg .input-group:nth-child(5) input {
	background: url(../images/icn_code.png) no-repeat 17px center;
}

.layer_reg .link_txt {
	color: #d33c3e;
}