@font-face {font-family: "iconfont";
    src: url('../../fonts/iconfont.eot'); /* IE9*/
    src: url('../../fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


.center{margin: 0 auto; width: 1050px; padding: 44px 0px; overflow: hidden;}

/*中部左侧*/
.c_l{float: left; width: 750px;}
.c_l>h1{font-size: 28px;}
.c_lh{border-bottom: 1px rgb(200,200,200) solid; padding: 18px 0px; overflow: hidden; color: rgb(100,100,100);}
.c_lh>p{float: left; padding-top:6px;}
.c_lh>p>span{margin-right: 22px;}
.c_lh>p mark{color:rgb(210,62,62); background: none;}
.c_lh>div{float: right; word-spacing:8px;}
.c_lh>div>a{display: inline-block; border-radius: 5px; border: 1px rgb(200,200,200) solid; padding: 5px 10px; cursor: pointer;}
.c_lh>div>a:hover{color:rgb(210,62,62);}
.simple{box-sizing: border-box; width: 100%; background: rgb(230,230,230);  margin-top: 25px; padding: 30px 18px; line-height: 30px; font-size: 16px;}
.simple>span{font-weight: bold; font-size: 18px;}
.article{font-size: 16px; line-height: 30px; padding: 25px 0px;}
.mybtn{display: block; width: 214px; height: 43px; background:rgb(210,62,62); color: white; border: none; border-radius: 10px; font-size: 16px; margin: 40px auto;}
.mybtn:hover{transform: scale(1.05);}
/*中部右侧*/
.c_r{float: right;width: 250px; color: black;}
.c_r>h2{font-size: 18px; border-bottom: 1px rgb(240,240,240) solid;}
.c_r>h2>span{display: inline-block; border-bottom: 1px rgb(210,62,62) solid; padding-bottom: 10px;}
.c_r p{font-size: 14px; color: rgb(100,100,100); line-height: 25px; padding-top: 6px;}
.myecharts{width: 100%; height: 180px; border: 1px rgb(240,240,240) solid; box-sizing: border-box; margin:12px 0px 20px 0px;}
.catalog{box-sizing: border-box; border: 1px rgb(247,247,247) solid; margin-top: 20px;}
.catalog>h3{height: 40px; line-height: 40px; font-size: 16px; padding-left: 10px; background: rgb(247,247,247); box-sizing: border-box; border: 1px rgb(240,240,240) solid;}
.catalog p{padding:5px 10px;}
.catalog p>a{color:rgb(210,62,62);}
.catalog p>a,.catalog p>span{float: right;}
#c_more{color: black; cursor: pointer;}
#c_more:hover{color: red;}
#btn_group>a{display: block; border: none; text-align: center; cursor: pointer;}
#btn_group>a:nth-child(1){box-sizing: border-box; border: 1px rgb(247,247,247) solid; width: 100%; height: 40px; line-height: 40px; margin: 10px 0; color:black;}
#btn_group>a:nth-child(1):hover{color:black;}
#btn_group>a:nth-child(2){box-sizing: border-box; border-radius: 8px; background: rgb(210,62,62); color: white; width: 100%; height: 40px; line-height: 40px; margin: 10px 0;}
#btn_group>a:nth-child(2):hover{color:white;}
#btn_group>a:nth-child(3){box-sizing: border-box; border: 1px rgb(247,247,247) solid; width: 100%; height: 40px; line-height: 40px; margin-top:10px; color:black;}
#btn_group>a:nth-child(3):hover{color:black;}
#btn_group>a:nth-child(4){box-sizing: border-box; border: 1px rgb(247,247,247) solid; border-top: none; width: 100%; height: 40px; line-height: 40px; color:rgb(210,62,62);}
#btn_group>a:nth-child(4):hover{color:rgb(210,62,62);}

