@font-face {font-family: "iconfont";
    src: url('../../fonts/iconfont.eot'); /* IE9*/
    src: url('../../fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


.center{margin: 0 auto; width: 1050px; padding: 44px 0px; overflow: hidden;}

/*中部左侧*/
.c_l{float: left; width: 750px;}
.c_l>h1{font-size: 28px;}
.c_lh{border-bottom: 1px rgb(200,200,200) solid; padding: 18px 0px; overflow: hidden; color: rgb(100,100,100);}
.c_lh>p{float: left; padding-top:6px;}
.c_lh>p>span{margin-right: 22px;}
.c_lh>p mark{color:rgb(210,62,62); background: none;}
.c_lh>div{float: right; word-spacing:8px;}
.c_lh>div>a{display: inline-block; border-radius: 5px; border: 1px rgb(200,200,200) solid; padding: 5px 10px; cursor: pointer;}
.c_lh>div>a:hover{color:rgb(210,62,62);}
.simple{box-sizing: border-box; width: 100%; background: rgb(230,230,230);  margin-top: 25px; padding: 30px 18px; line-height: 30px; font-size: 16px;}
.simple>span{font-weight: bold; font-size: 18px;}
.article{font-size: 16px; line-height: 30px; padding: 25px 0px;}
.article p {
    margin-bottom: 30px;
}
.article img {
    max-width: 745px;
    margin: 0 auto;
    overflow: hidden;
}
.mybtn{display: block; width: 214px; height: 43px; background:rgb(210,62,62); color: white; border: none; border-radius: 10px; font-size: 16px; margin: 40px auto;}
.mybtn:hover{transform: scale(1.05);}
/*中部右侧*/
.c_r{float: right;width: 250px; color: black;}
.c_r>h2{font-size: 18px; border-bottom: 1px rgb(240,240,240) solid;}
.c_r>h2>span{display: inline-block; border-bottom: 1px rgb(210,62,62) solid; padding-bottom: 10px;}
.c_r p{font-size: 14px; color: rgb(100,100,100); line-height: 25px; padding-top: 6px;}
.myecharts{width: 100%; height: 180px; border: 1px rgb(240,240,240) solid; box-sizing: border-box; margin:12px 0px 20px 0px;}
.catalog{box-sizing: border-box; border: 1px rgb(247,247,247) solid; margin-top: 20px;}
.catalog>h3{height: 40px; line-height: 40px; font-size: 16px; padding-left: 10px; background: rgb(247,247,247); box-sizing: border-box; border: 1px rgb(240,240,240) solid;}
.catalog p{padding:5px 10px;}
.catalog p>a{color:rgb(210,62,62);}
.catalog p>a,.catalog p>span{float: right;}
#c_more{color: black; cursor: pointer;}
#c_more:hover{color: red;}
#btn_group>a{display: block; border: none; text-align: center; cursor: pointer;}
#btn_group>a:nth-child(1){box-sizing: border-box; border: 1px rgb(247,247,247) solid; width: 100%; height: 40px; line-height: 40px; margin: 10px 0; color:black;}
#btn_group>a:nth-child(1):hover{color:black;}
#btn_group>a:nth-child(2){box-sizing: border-box; border-radius: 8px; background: rgb(210,62,62); color: white; width: 100%; height: 40px; line-height: 40px; margin: 10px 0;}
#btn_group>a:nth-child(2):hover{color:white;}
#btn_group>a:nth-child(3){box-sizing: border-box; border: 1px rgb(247,247,247) solid; width: 100%; height: 40px; line-height: 40px; margin-top:10px; color:black;}
#btn_group>a:nth-child(3):hover{color:black;}
#btn_group>a:nth-child(4){box-sizing: border-box; border: 1px rgb(247,247,247) solid; border-top: none; width: 100%; height: 40px; line-height: 40px; color:rgb(210,62,62);}
#btn_group>a:nth-child(4):hover{color:rgb(210,62,62);}

/* 详情页公共模块--热门推荐 */
.recommend .head {
    border-bottom: 1px solid #efefef;
    font-size: 16px;
    font-weight: bold;
    color: #1a1a1a;
}
.recommend .head span {
    padding-bottom: 15px;
    border-bottom: 1px solid #c1242f;
    display: inline-block;
}
.recommend .results .item {
    padding: 30px 0;
    border-bottom: 1px solid #ececec;
}
.recommend .results .item:last-child {
    border: none;
}
.recommend .results .item:hover {
    background: #f4f4f4;
}
.recommend .results .item a:hover {
    text-decoration: underline;
}
.recommend .results .item .title {
    font-size: 18px;
    color: #1a1a1a;
    margin-bottom: 20px;
}
.recommend .results .keyword {
    color: #d33c3e;
}
.recommend .results .item .abstract {
    line-height: 24px;
}
.recommend .results .item .info {
    font-size: 12px;
    color: #999;
    margin-top: 18px;
}
.recommend .load_more {
    line-height: 51px;
    border: 1px solid #f3f3f3;
    background: #fbfbfb;
    text-align: center;
    cursor: pointer;
}
/* 公共模块--相关新闻 */
ul.related_list {
    padding-top: 15px;
    padding-bottom: 15px;
}
ul.related_list li {
    background: url(../images/icn_dot.png) no-repeat 0 center;
    background-size: 4px;
    padding-left: 15px;
    color: #999;
    line-height: 36px;
}
ul.related_list li:hover {
    color: #406599;
}
ul.related_list span {
    max-width: 225px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: initial;
}
/* 公共模块--图片盒子 */
.pics_box {
    padding-top: 20px;
}
.pics_box .cell {
    display: inline-block;
    margin-right: 19px;
    margin-bottom: 15px;
}
.pics_box .cell:nth-child(3n) {
    margin-right: 0;
}
.pics_box .cell .img_wrap {
    width: 67px;
    height: 67px;
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pics_box .cell p {
    color: #999;
    margin-top: 15px;
    text-align: center;
    line-height: initial;
    padding: 0;
}
/* 公共模块--右下角按钮组 */
.public_btns a {
    display: block;
    line-height: 39px;
    text-align: center;
    border: 1px solid #eee;
    color: #1a1a1a;
}
.public_btns .btn_download {
    box-sizing: border-box;
    border-radius: 8px;
    background: rgb(210,62,62);
    color: white;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
}
.public_btns .btn_share {
    color: #d33c3e;
}
/****************************** 内容页面-公文公报 特殊样式 *******************/
.gwgb .c_l h1 {
    font-size: 28px;
    color: #f02020;
    line-height: 48px;
    text-align: center;
}
.gwgb .gw_num {
    color: #1a1a1a;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 30px;
}
/**************************** 内容页面-地理详情 特殊样式 *******************/
.detail_geo .header .banner-box {
    background: none;
    text-align: center;
    position: relative;
}
.detail_geo .header .banner-box .middle {
    line-height: 34px;
    display: inline-block;
    border-radius: 17px;
    border: 1px solid #e1e1e1;
    margin: 30px 0;
    background: #fff;
}
.detail_geo .middle {
    cursor: pointer;
}
.detail_geo .middle .cell {
    padding: 0 26px;
    border-right: 1px solid #e1e1e1;
    display: inline-block;
    line-height: 34px;
}
.detail_geo .middle .cell:last-of-type {
    border-right: none;
}
.detail_geo .map_box {
    position: absolute;
    top: 76px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    -wekit-box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    background: #fff;
    padding: 20px;
}
.map_wrap .tips {
    text-align: justify;
}
.map_wrap .tips .icon_new {
    color: #de6c6e;
    margin-right: 11px;
}
.map_wrap .tips i.tip {
    color: #999;
}
.detail_geo .location {
    font-size: 16px;
    font-weight: bold;
    color: #1a1a1a;
    line-height: 38px;
}
.detail_geo .area_box {
    padding: 15px 0;
}