<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta description="百问网">
    <meta keywords="百问网">
    <title>百问网-时政日报</title>
</head>

<body class="index">
    <!-- 下载悬浮 -->
    <div class="float_bar">
        <div class="wrap">
            <h1>百问在线</h1>
            <h2>打开百问在线，掌握政务决策</h2>
            <div class="abs">
                <button onclick="appdownload()">立即体验</button>
                <button id="closebar"></button>
            </div>
        </div>
    </div>
    <header>
        <div class="header_box">
            <h1>时政日报</h1>
            <i class="iconfont fix_r">&#xe603;</i>
        </div>
        <!-- 分享弹出层 -->
        <div class="sharewrap">
            <div class="share-to">
                <div class="share-title">
                    <p>分享到</p>
                </div>
                <div class="bdsharebuttonbox share-module">
                    <a href="javascript:;" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a>
                    <a href="javascript:;" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
                    <a href="javascript:;" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友">QQ好友</a>
                </div>
            </div>
        </div>
    </header>
    <div class="mask" style="display: none;"></div>
    <div class="content_wrap">
        <!-- banner -->
        <a class="banner_wrap" href="javascript:;" style="">
            <div class="title_wrap">
                <h1>李克强举行仪式欢迎柬埔寨首相访华李克强举行仪式欢迎柬埔寨首相访华</h1>
                <div class="info">
                    <span class="date">2017-05-16</span>
                    <span class="source">来自：百问在线</span>
                </div>
            </div>
        </a>
        <!-- 推荐列表 -->
        <div class="list_wrap">
            <div class="list">

            </div>
        </div>

    </div>
    <footer>
        <div class="footerbox">
            <a class="cell active" href="/index">
                <p><i class="iconfont">&#xe634;</i></p>
                <p>时政日报</p>
            </a>
            <a class="cell" href="/magazine">
                <p><i class="iconfont">&#xe66e;</i></p>
                <p>杂志订阅</p>
            </a>
            <a class="cell" href="/contactus">
                <p><i class="iconfont">&#xe6a3;</i></p>
                <p>联系我们</p>
            </a>
        </div>
    </footer>
    <div id="detail" class="detail">
        <header>
            <div class="header_box">
                <h1>
                    <a href="javascript:$('.mask').hide(); $('.sharewrap').removeClass('bounceInDown animated'); $('.detail').removeClass('slideInRight')">
                        <i class="iconfont">&#xe604;</i>
                        杂志详情
                    </a>
                </h1>
                <i class="iconfont fix_r">&#xe603;</i>
            </div>
            <!-- 分享弹出层 -->
            <div class="sharewrap">
                <div class="share-to">
                    <div class="share-title">
                        <p>分享到</p>
                    </div>
                    <div class="bdsharebuttonbox share-module">
                        <a href="javascript:;" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a>
                        <a href="javascript:;" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
                        <a href="javascript:;" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友">QQ好友</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="scroller-hook" id="scroller-hook">
            <div class="scroller-wrap">
                
                <div class="mask" style="display: none;"></div>
                <div class="content_wrap">
                    <section class="titlebox">
                        <h1>5月15日时政要闻集锦</h1>
                        <div class="info">
                            <span class="date">2017-05-16</span>
                            <span class="source">来自：<span id="source">百问在线</span></span>
                        </div>
                    </section>
                    <!-- 文章内容 -->
                    <article>
                        <p>
                            国内方面，亚马逊等电商用户信息遭售卖；汽车产销环比同比均下降；北上广深等城相继调控商办项目。
                        </p>
                        <p>
                            国务院总理李克强5月10日主持召开国务院常务会议，通过《兴边富民行动“十三五”规划》，促进边疆繁荣稳定和各族群众生活改善；听取去产能工作进展和重点行业淘汰落后产能督查情况汇报，推动经济结构优化；部署扩大和升级信息消费，释放内需潜力培育发展新动能。
                        </p>
                        <p>
                            五月，属于青春的时节，五月的芬芳中，有花、有雨、有草长莺飞绿意盎然……这个明媚灿烂的周末，一起看看本周哪些新政伴随这青春的步伐悄然来到你我身旁。
                        </p>
                    </article>
                </div>
                
            </div>
            
        </div>
        <footer>
            <div class="footerbox">
                <a class="cell active" href="/index">
                    <p><i class="iconfont">&#xe634;</i></p>
                    <p>时政日报</p>
                </a>
                <a class="cell" href="/magazine">
                    <p><i class="iconfont">&#xe66e;</i></p>
                    <p>杂志订阅</p>
                </a>
                <a class="cell" href="/contactus">
                    <p><i class="iconfont">&#xe6a3;</i></p>
                    <p>联系我们</p>
                </a>
            </div>
        </footer>
    </div>
</body>
<script>
    $(function() {
        // 消除点击延迟
        FastClick.attach(document.body);
        // 列表item触摸反馈：背景变色
        $(".list a").on("touchstart", function() {
            $(this).css('background-color', '#f7f7f7');
        });

        // 顶部悬浮条关闭
        $("#closebar").on("touchend", function() {
            $(".float_bar").slideUp(300);
        });

        // dropload
        // 页数
    var page = 0;
    // 每页展示5个
    var size = 5;
    $('.list_wrap').dropload({
        scrollArea : window,
        loadDownFn : function(me){
            page++;
            // 拼接HTML
            var result = '';
            var timestr = '';
            $.ajax({
                type: 'post',
                async: false,
                url: 'http://newapi.bwnews.org/app/politics/getNewestPoliticsList?page='+page+'&size='+size,
                dataType: 'json',
                success: function(data){
                    var listData = data.resultData;
                    var arrLen = listData.length;
                    if(arrLen > 0){
                        for(var i=0; i<arrLen; i++){
                            timestr = formatDate(listData[i].createDate);
                            result +=  
                '<a href="javascript:;" onclick="openDetail(\''+listData[i].id+'\')">\
                    <div class="content">\
                        <div class="img_wrap" style="background-image: url('+listData[i].cover+')"></div>\
                        <div class="desc">\
                            <h2>'+listData[i].title+'</h2>\
                            <div class="info">\
                                <span class="date">'+timestr+'</span>\
                                <span class="source">来自：百问在线</span>\
                            </div>\
                        </div>\
                    </div>\
                </a>';
                        }
                    // 如果没有数据
                    }else{
                        // 锁定
                        me.lock();
                        // 无数据
                        me.noData();
                    }
                    // 为了测试，延迟1秒加载
                    setTimeout(function(){
                        // 插入数据到页面，放到最后面
                        $('.list').append(result);
                        // 每次数据插入，必须重置
                        me.resetload();
                    },1000);

                    
                },
                error: function(xhr, type){
                    //alert('Ajax error!');
                    // 即使加载出错，也得重置
                    me.resetload();
                }
            });
        }
    });

    // 顶部banner数据替换
    $.post('http://newapi.bwnews.org/app/politics/getNewestPoliticsList?page=1&pageSize=1', function(result){
        let data = result.resultData[0];
        $(".banner_wrap").css('background-image', 'url('+data.cover+')');
        $(".banner_wrap").attr({
            onclick: 'openDetail("'+data.id+'")'
        });
        $(".banner_wrap h1").text(data.title);
        $(".banner_wrap .date").text(formatDate(data.createDate));
    });

        /*myScroll = new IScroll('.scroller-hook', {
            eventPassthrough: 'vertical'
        });*/
    });

    // 打开详情
    function openDetail(id) {
        $.ajax({
            type: 'post',
            async: false,
            url: 'http://newapi.bwnews.org/app/politics/detail?politicsId=' + id,
            dataType: 'json',
            success: function(data) {
                var result = data.resultData;
                $('.detail .titlebox h1').text(result.title);
                $('.detail .titlebox .date').text(formatDate(result.createDate));
                $('.detail article').html(result.content);
                $(".mask").hide();
                //$('.detail').fadeIn('150');
                $('.scroller-hook').scrollTop(0);
                $('.detail').addClass('slideInRight');
                
            },
            error: function() {
                alert('出了点小差错');
            }
        });
    }

    // 时间戳处理
function formatDate(time) {
    let date = new Date(time);
    Y = date.getFullYear() + '-';
    M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
    D = (date.getDate() < 10 ? '0'+date.getDate() : date.getDate());
    return(Y+M+D);
}

function isWeiXin(){
        var ua = window.navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i) == 'micromessenger'){
            return true;
        }else{
            return false;
        }
    }

    function appdownload() {
        if(isWeiXin()){     
            window.location.href = "http://a.app.qq.com/o/simple.jsp?pkgname=com.bwnews.online";
        }
        else{
            var ua = navigator.userAgent.toLowerCase();
            if (/iphone|ipad|ipod/.test(ua)) {
                var loadDateTime = new Date();
                window.setTimeout(function() {
                    var timeOutDateTime = new Date();
                    if (timeOutDateTime - loadDateTime < 3000) {
                        window.location.href = "https://itunes.apple.com/app/id1146725552";//ios下载地址
                    } else {
                        window.close();
                    }
                },1500);
                //window.location = "://";
            } else if (/android/.test(ua)) {
                try {
                    var loadDateTime = new Date();
                    //window.location = "://";
                    setTimeout(function()
                    {
                        var timeOutDateTime = new Date();
                        if (timeOutDateTime - loadDateTime < 1100) {
                            window.location.href = "http://downloadpkg.apicloud.com/app/download?path=http://7ya5up.com1.z0.glb.clouddn.com/f2edf36b94767470f382ff8914ebe4a3_d"; //android下载地址
                        } else {
                            window.close();
                        }
                    },1000);
                } catch(e) {}
            }
        } 
    }
/*new BScroll(document.getElementById('scroller-hook'), {
    probeType: 3
});*/

</script>
</html>
