/********************************** 会员 ***********************************/
.form-wrap {
    padding-top: 1.12rem;
}

.form-wrap .list {
    width: 100%;
    background: #fff;
    padding: 0.35rem 0;
    display: block;
    border-bottom: 1px solid #ebebeb;
}
.per-mes .item:nth-child(1){
    margin-top:0.56rem;
}
.form-wrap .list .show-input {
    padding: 0 0.4rem;
}

.form-wrap .list .show-input .left-mes {
    font-size: 0.426667rem;
    color: #1a1a1a;
    padding-left: 0.9rem;
}

.form-wrap .list .show-input .right-mes .arr-before img {
    width: 1.306667rem;
    height: 1.306667rem;
    border-radius: 100%;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
}

.form-wrap .list .show-input {
    display: -webkit-box;
    display: -webkit-box;
    -webkit-box-pack: justify;
    /*两端对齐*/
    -webkit-box-align: center;
    /*垂直居中*/
}

.form-wrap .list .show-input .arr-before {
    display: inline-block;
    color: #999;
    font-size: 0.373333rem;
    vertical-align: middle;
}

.form-wrap .list .show-input .right-arr {
    background: url(../images/right-arr.png)no-repeat center center;
    display: inline-block;
    width: 0.146667rem;
    height: 0.266667rem;
    vertical-align: middle;
    background-size: cover;
    margin-left: 0.533333rem;
    margin-right: 0.266667rem;
}

.form-wrap .item {
    margin-bottom: 0.4rem;
}

.form-wrap .item .list .show-input .red {
    color: #d33c3e;
}
.set .form-wrap .item:nth-child(1) {
    margin-top: 0.4rem;
}
.set .list{
	background-size: 0.453333rem;
	background-repeat: no-repeat;
	background-position: 0.5rem center;
}
.set .list.info {
	background-image: url(../images/icn_login.png);
}
.set .list.cache {
	background-image: url(../images/icn_cache.png);
}
.set .list.feedback {
	background-image: url(../images/icn_feedback.png);
}
.set .list.setting {
	background-image: url(../images/icn_set.png);
}
.set .list.collect {
	background-image: url(../images/icn_collect.png);
}
.set .list.broad {
	background-image: url(../images/icn_broad.png);
}

/******************************* 首页 ********************************/