/*成果申报1*/
.declareResult .content{position: relative; background: white; padding: 26px; box-sizing: border-box; margin-top: 44px; margin-bottom: 100px;}
.declareResult .content>p{font-size: 16px; color: rgb(30,30,30); border-left: 3px solid #e55355; padding-left: 10px;}
.declareResult .content>h2{font-size: 22px; color: rgb(30,30,30); text-align: center; margin-top: 25px;}
.declareResult .progress{overflow: hidden; width: 964px; margin: 0 auto;  margin-top: 48px;}
.declareResult .progress>.sb{float: left; width:100px; height: 120px; box-sizing: border-box; background: url("../images/tuoyuanB.png") 15px 0 no-repeat;}
.declareResult .progress>.sb.sb1{background: url("../images/tuoyuanB.png") 15px 0 no-repeat;}
.declareResult .progress>.sb.sb1>span{background: url("../images/SB1B.png") center center no-repeat;}
.declareResult .progress>.sb.sb2>span{background: url("../images/SB2B.png") center center no-repeat;}
.declareResult .progress>.sb.sb3>span{background: url("../images/SB3B.png") center center no-repeat;}
.declareResult .progress>.sb.sb4>span{background: url("../images/SB4B.png") center center no-repeat;}
.declareResult .progress>.sb.sb5>span{background: url("../images/SB5B.png") center center no-repeat;}
.declareResult .progress>.sb.sb.active{background: url("../images/tuoyuanR.png") 15px 0 no-repeat;}
.declareResult .progress>.sb.sb1.active>span{background: url("../images/SB1R.png") center center no-repeat;}
.declareResult .progress>.sb.sb2.active>span{background: url("../images/SB2R.png") center center no-repeat;}
.declareResult .progress>.sb.sb3.active>span{background: url("../images/SB3R.png") center center no-repeat;}
.declareResult .progress>.sb.sb4.active>span{background: url("../images/SB4R.png") center center no-repeat;}
.declareResult .progress>.sb.sb5.active>span{background: url("../images/SB5R.png") center center no-repeat;}
.declareResult .progress>span{float: left; display: block; width: 116px; height: 80px; background: url("../images/jiantou.png") center center no-repeat;}
.declareResult .progress>.sb>span{display: block; width: 100px; height: 68px; margin-bottom: 35px;}
.declareResult .progress>.sb>p{text-align: center;}
.declareResult .result{width: 1128px; height: 660px; background: url("../images/dialogK.png") 0 0 no-repeat; margin-top: 48px; margin-bottom: 60px; padding: 43px 28px;}
.declareResult .result>div{overflow: hidden;}
.declareResult .result>div>.RSIT{width: 344px; height: 189px; color: rgb(153,153,153); padding: 22px; background: white; border: 1px rgb(233,233,233) solid; box-sizing: border-box; float: left; margin-left: 16px; margin-bottom: 16px;}
.declareResult .result>div>.RSIT:nth-child(1+3n){margin-left: 0;}
.declareResult .result>div>.RSIT.active{border: 1px rgb(229,83,85) solid; background: url("../images/gougou.png") right bottom no-repeat; }
.declareResult .result>div>.RSIT>h3{font-size: 20px; line-height: 22px; color: black; height: 22px; overflow: hidden; text-overflow: ellipsis; word-break: break-all; white-space: nowrap;}
.declareResult .result>div>.RSIT>p{font-size: 12px; line-height: 25px; margin-top: 8px; height: 100px; overflow: hidden;}
.declareResult .result>button{display: block; width: 240px; height: 50px; line-height: 50px; text-align: center; font-size: 18px; color: white; background: rgb(36,68,150); border: none; margin: 0 auto; margin-top: 44px;}
.declareResult .result>button:hover,.declareResult form>button:hover{background: rgb(30,56,114);}

/*成果申报2*/
.declareResult .result>div>a{display: inline-block; color:rgb(229,83,85); text-decoration: underline; margin-left: 42px; margin-bottom: 25px;}
.declareResult .result>div>p{margin-bottom: 20px;}
.declareResult .result>div>p>a{color:rgb(229,83,85);}
.declareResult form{margin-top: 10px;}
.declareResult form .inlineB{overflow: hidden;}
.declareResult form .inlineB>div{float:left;}
.declareResult form .inlineB>.ral{width: 660px; height: 220px; overflow: hidden;}
.declareResult .inlineB>.example>span,.declareResult .inlineB>.ral>span{display: inline-block; vertical-align: top; margin-right: 10px; line-height: 14px;}
.declareResult .inlineB>.example>div,.declareResult .inlineB>.ral>div{display: inline-block; vertical-align: top; width: 150px; height: 220px; margin-right: 20px; position: relative; overflow: hidden;}
.declareResult .inlineB>.example>div>.imgShadow,.declareResult .inlineB>.ral>div>.imgShadow{position: absolute; left: 0; top: 0; z-index: 10; width: 100%; height: 100%; background: rgba(0,0,0,0.3); display: none;}
.declareResult .inlineB>.example>div .myBtn,.declareResult .inlineB>.ral>div .myBtn{width: 76px; margin: 0 auto; color: white; cursor: pointer;}
.declareResult .inlineB>.example>div .myBtn{margin-top: 98px;}
.declareResult .inlineB>.ral>div .myBtn{margin-top: 82px;}
.declareResult .inlineB>.example>div .myBtn>span,.declareResult .inlineB>.ral>div .myBtn>span{display: block; border-radius: 2px; border: 1px white solid; text-align: center; padding: 5px 0; margin-bottom: 5px;}
.declareResult .inlineB>.example>div>img,.declareResult .inlineB>.ral>div>img{display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 9;}
.declareResult .inlineB>.ral>div>label{position: absolute; left: 0; top:0; z-index: 3; display: block; width: 100%; height: 100%; background: white;
    border: 1px rgb(233,233,233) solid; box-sizing: border-box; background-image: url("../images/jiajia.png"); background-position: center center; background-repeat: no-repeat;}
.declareResult .inlineB>.example>div>input,.declareResult .inlineB>.ral>div>input{position: absolute; left: 0; top:0; z-index: 1;}
.declareResult .inlineB>.ral>span{margin-left: 64px;}
.declareResult .inlineB>.ral>span>small{display: block; margin-top: 10px; color: rgb(153,153,153); font-size: 12px;}
.declareResult .inP{margin-top: 24px;}
.declareResult .inP>label{display: inline-block; width: 64px;  height: 45px; line-height: 45px; vertical-align: middle;}
.declareResult .inP>input{display: inline-block; width: 488px;  height: 44px; line-height: 45px; vertical-align: middle; border: 1px rgb(233,233,233) solid; padding: 0 20px;}
.declareResult form>button{display: block; width: 150px; height: 50px; line-height: 50px; text-align: center; font-size: 18px; color: white; background: rgb(36,68,150); border: none; margin: 0 auto; margin-top: 44px;}

#pop{position: fixed; width: 100%; height: 100%; top: 0; left:0; z-index: 99; background: rgba(0,0,0,0.7); display: none;}
#pop>img{display: block; width: 794px; height: auto; margin: 0 auto; margin-top: 5%;}

/*会员名录*/
.vipSearch .content{position: relative; background: white; padding: 26px; box-sizing: border-box; margin-top: 44px; margin-bottom: 100px;}
.vipSearch .vipTop{overflow: hidden;}
.vipSearch .vipTop>h3{float: left; font-size: 16px; border-left: 3px solid #e55355; padding-left: 12px;}
.vipSearch .vipTop>div{ float: right; color: rgb(153,153,153); padding-left: 24px; background:url("../images/homehome.png") 0 0 no-repeat;}
.vipSearch .vipTop>div>a{color: rgb(153,153,153);}
.vipSearch .vipTop>div>a:hover{color:rgb(229,83,85);}
.vipSearch .vipTop>div>span{color: rgb(229,83,85);}
.vipSearch .sear{overflow: hidden; margin-top: 28px;}
.vipSearch .sear>.searL{float: left; overflow: hidden; width: 830px; height: 30px;}
.vipSearch .sear>.searL>span{float: left; display:block; width: 100px; height: 30px; line-height: 28px; margin-right: 8px; cursor: pointer; text-align: center; box-sizing: border-box; border-radius: 15px; border: 1px rgb(233,233,233) solid;}
.vipSearch .sear>.searL>span:hover,.vipSearch .sear>.searL>span.active{color: white; background:rgb(229,83,85);}
.vipSearch .sear>.searR{float: right; width: 246px; height: 32px; position: relative;}
.vipSearch .sear>.searR>input{width: 246px; height: 30px; box-sizing: border-box; border-radius: 15px; background: rgb(245,245,245); border: none; padding: 0 35px 0 20px; color: black;}
.vipSearch .sear>.searR>button{display: block; width: 30px; height: 30px; border: none; border-radius: 15px; background-color: rgb(245,245,245); position: absolute; right:5px; top: 0;
    background-image: url('../images/searsear.png'); background-position: center; background-repeat: no-repeat; cursor: pointer;}

.vipSearch .List{ margin-top: 30px;}
.vipSearch .List>ul{overflow: hidden;}
.vipSearch .List>ul>li{width: 352px; height: 188px; background: rgb(249,249,249); float: left; border: 1px rgb(233,233,233) solid; overflow: hidden; cursor: pointer; margin-left: 22px; margin-bottom: 22px;}
.vipSearch .List>ul>li:nth-child(1+3n){margin-left: 0;}
.vipSearch .List>ul>li>a{display: block; width: 100%; height: 100%;}
.vipSearch .List>ul>li:hover{background: rgb(240,240,240);}
.vipSearch .List>ul>li>a>.img{display: inline-block; width: 148px; height: 100%; box-sizing: border-box; padding: 42px 20px 0 20px; vertical-align: middle;}
.vipSearch .List>ul>li>a>.img>img{display: block; width: 104px; height: 104px; border-radius: 52px;}
.vipSearch .List>ul>li>a>.text{display: inline-block; width: 195px; box-sizing: border-box; color: rgb(153,153,153); vertical-align: middle;}
.vipSearch .List>ul>li>a>.text>h3{font-size: 20px; color: black; margin-bottom: 8px;}
.vipSearch .List>ul>li>a>.text>h3>span{font-size: 14px;}
.vipSearch .List>ul>li>a>.text>p{line-height: 20px; height: 80px; overflow: hidden;}

.vipSearch .pages{text-align: center; padding: 80px 0; color: rgb(36,68,150);}
.vipSearch .pages ul{display: inline-block; overflow: hidden; width: 376px; vertical-align: middle;}
.vipSearch .pages ul>li{float: left; width: 35px; height: 35px; line-height: 33px; text-align: center; border: 1px rgb(231,231,231) solid; margin: 5px; cursor: pointer;}
.vipSearch .pages ul>li.active{border: 1px rgb(173,195,234) solid; background: rgb(239,244,251);}
.vipSearch .pages>a{display: inline-block; width: 35px; height: 35px; line-height: 33px; text-align: center; border: 1px rgb(231,231,231) solid; margin: 5px; vertical-align: middle; color: rgb(36,68,150);}
.vipSearch .pages>span{display: inline-block; width: 84px; height: 35px; line-height: 33px; text-align: center; border: 1px rgb(231,231,231) solid; margin: 5px; vertical-align: middle; cursor: pointer;}

/*会员名录2*/
.vipSearch2 .content{position: relative; background: white; padding: 26px; box-sizing: border-box; margin-top: 44px; margin-bottom: 100px; overflow: hidden; padding-bottom: 80px;}
.vipSearch2 .contL{float: left; width: 810px;}
.vipSearch2 .contL>h3,.vipSearch2 .contL .title>h3{font-size: 16px; border-left: 3px solid #e55355; padding-left: 12px;}
.vipSearch2 .contL>.detail{overflow: hidden; margin-top: 30px;}
.vipSearch2 .contL>.detail>img{display: block; width: 102px; height: 127px; float: left;}
.vipSearch2 .contL>.detail>div{float: left; width: 616px; height: 127px; overflow: hidden; margin-left: 35px;}
.vipSearch2 .contL>.detail>div>span{display: block; color:rgb(229,83,85); font-size: 18px; margin-bottom: 10px;}
.vipSearch2 .contL>.detail>div>p{line-height: 24px;}
.vipSearch2 .contL .title{height: 45px; background: rgb(246,246,246); padding-top: 12px; box-sizing: border-box; margin-top: 50px; margin-bottom: 25px;}
.vipSearch2 .contL .contText{line-height: 30px; color: rgb(100,100,100);}
.vipSearch2 .contL .contText>p{height: 30px; overflow: hidden; text-overflow: ellipsis; word-break: break-all; white-space: nowrap;}
.vipSearch2 .contR{float: right; width: 242px;}
.vipSearch2 .contR>.code{width: 100%; height: 267px; box-sizing: border-box; border: 1px rgb(233,233,233) solid; margin-top: 58px; text-align: center; padding-top: 23px;color: black;}
.vipSearch2 .contR>.code>img{margin-bottom: 15px;}
.vipSearch2 .contR>.code>p{margin-bottom: 6px;}
.vipSearch2 .contR>.back{margin-top: 8px;}
.vipSearch2 .contR>.back,.vipSearch2 .contR>.prev{display: block;box-sizing: border-box; width: 100%; height: 48px; line-height: 46px; border: 1px rgb(233,233,233) solid; text-align: center; color: black; background: rgb(246,246,246);}
.vipSearch2 .contR>.back:hover,.vipSearch2 .contR>.prev:hover{background: rgb(240,240,240); color: black;}
.vipSearch2 .contR>.prev{border-top: none;}
.vipSearch2 .contR>.back2{ display: block; box-sizing: border-box; width: 100%; height: 48px; line-height: 46px; border: 1px rgb(233,233,233) solid; text-align: center; color: black; margin-top: 8px;
    background: rgb(36,68,150); color: white;}
.vipSearch2 .contR>.back2:hover{background: rgb(30,56,114);}


















































