/* public */
.w1180 {
	width: 1180px;
	margin: 0 auto;
}
@font-face {
	font-family: 'fzch';
	src: url(../fonts/FZZCHJW-GB1-0.otf);
}
/* iconfont */
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont/iconfont.eot');
  src: url('../fonts/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont/iconfont.woff') format('woff'),
  url('../fonts/iconfont/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  /*-webkit-text-stroke-width: 0.2px;*/
  -moz-osx-font-smoothing: grayscale;
}
a:hover {
	color: #e55355 !important;
}
/* header公共化 */
header {
	padding-top: 28px;
}
header .nav  {
	line-height: 60px;
}
header .nav a {
	color: #fff;
	display: inline-block;
	margin-left: 34px;
	box-sizing: border-box;
}
header .nav a.active {
	border-bottom: 3px solid #e55355;
}
/* footer公共化 */
footer {
	width: 100%;
	height: 46px;
	line-height: 46px;
	background: #244496;
	text-align: center;
	font-size: 12px;
	color: #95a5cd;
	position: absolute;
	bottom: 0;
}
/* 内容 */
.content {
	position: relative;
	padding-bottom: 60px;
}
/* 右侧浮标 */
.contact {
	position: absolute;
	right: -59px;
	top: 257px;
	width: 48px;
}
.contact .cell {
	height: 48px;
	border-radius: 2px;
	align-items: center;
	background-color: #6d91cf;
	margin-bottom: 3px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.contact .cell.wechat {
	background-image: url(../images/wechat.png);
	position: relative;
}
.contact .cell.wechat .qrcode {
	position: absolute;
	width: 290px;
	height: 149px;
	border-radius: 3px;
	left: -289px;
	z-index: 99;
	background: #fff;
	box-sizing: border-box;
	padding: 7px;
	border: 1px solid #c7c7c7;
	border-radius: 3px;
	box-shadow: -2px 3px 8px #c7c7c7;
}
.contact .cell.wechat .qrcode .ttl {
	font-size: 14px;
	color: #1a1a1a;
	margin-top: 37px;
	margin-bottom: 10px;
}
.contact .qrcode .texts li {
	color: #999;
	font-size: 14px;
	line-height: 24px;
}
.contact .qrcode .texts li:before {
	display: inline-block;
	content: "·";
	font-size: 30px;
	color: #e55355;
	margin-right: 11px;
	vertical-align: text-bottom;
}
.contact .cell.qq {
	background-image: url(../images/qq.png);
}
.contact .cell.qq a {
	display: block;
	height: 100%;
}
.contact .cell.message {
	background-image: url(../images/message.png);
}
.contact .cell:hover {
	background-color: #244496;
}
/* 反馈弹窗 */
.feedback {
	padding: 28px 40px;
}
.feedback .control_group {
	margin-bottom: 15px;
}
.feedback label {
	font-size: 14px;
	color: #1a1a1a;
	line-height: 36px;
	margin-right: 20px;
	vertical-align: top;
}
.feedback input[type="text"] {
	width: 294px;
	height: 44px;
	line-height: 44px;
	border-radius: 2px;
	border: 1px solid #eee;
	padding-left: 10px;
	box-sizing: border-box;
}
.feedback textarea {
	border-radius: 2px;
	border: 1px solid #eee;
	width: 294px;
	resize: none;
	padding-left: 10px;
	padding-top: 8px;
	box-sizing: border-box;
}
.feedback button {
	width: 134px;
	height: 41px;
	line-height: 41px;
	text-align: center;
	border-radius: 2px;
	font-size: 18px;
	color: #fff;
}
.feedback button.btn_ok {
	background: #d33c3e;
	margin-left: 53px;
	margin-right: 19px;
}
.feedback button.btn_cancel {
	background: #ebd1d2;
}
/* 带红色左边边框的h1 */
.myh1 {
	font-size: 18px;
	color: #1a1a1a;
	padding-left: 10px;
	border-left: 4px solid #e55355;
	margin-bottom: 28px;
}
/* 条件筛选公共化 */
.filter ul.options, .filter ul.options>li {
	display: inline-block;
}
.filter ul.options>li {
	width: 89px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	overflow: hidden;
	border: 1px solid #e9e9e9;
	border-radius: 16px;
	font-size: 14px;
	color: #1a1a1a;
	margin-right: 9px;
	box-sizing: border-box;
	cursor: pointer;
}
.filter ul.options>li:hover {
	border-color: #e55355;
	color: #e55355;
}
.filter ul.options>li.active {
	color: #fff;
	background: #e55355;
	border: none;
}
.filter input.search {
	width: 170px;
	height: 32px;
	line-height: 32px;
	box-sizing: border-box;
	background-image: url(../images/icn_sch.png);
	background-repeat: no-repeat;
	background-position: 140px center;
	border: none;
	background-color: #f5f5f5;
	border-radius: 16px;
	vertical-align: top;
	padding-left: 20px;
	padding-right: 30px;
}
/* 分页 */
.pager {
	text-align: center;
	align-items: center;
}
.pager .page_btn {
	display: inline-block;
	padding: 0 10px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #e7e7e7;
	font-size: 14px;
	color: #244496;
	margin-right: 10px;
	cursor: pointer;
	box-sizing: border-box;
}
.pager .page_btn.current {
	border: none;
	color: #1a1a1a;
	font-weight: bold;
}
.pager .page_btn:hover {
	background: #eff4fb;
	border-color: #adc3ea;
}
.pager .page_list {
	display: inline-block;
}
.pager .page_list .page_btn {
	font-size: 12px;
}
/* 二维码盒子 */
.qrbox {
	padding: 28px 0;
	text-align: center;
	align-items: center;
	border: 1px solid #e9e9e9;
	margin-bottom: 9px;
}
.qrbox img {
	margin-bottom: 10px;
}
.qrbox .txt {
	font-size: 12px;
	color: #1a1a1a;
	line-height: 20px;
}
/* end public */
/******************** 首页 **********************/
.index {
	font-size: 14px;
}

/* 轮播图 */
.index .swiper-container {
	width: 100%;
	height: 368px;
	position: relative;
}
.index .swiper-slide {
	background-size: cover;
	background-position: center;
}
.index .swiper-slide .txt {
	position: absolute;
	width: 425px;
	top: 123px;
	right: 48px;
}
.index .swiper-slide h1 {
	font-family: 'fzch';
	font-size: 36px;
	color: #fff;
	margin-bottom: 12px;
}
.index .swiper-slide h2 {
	color: #fff;
	font-size: 14px;
	line-height: 20px;
}
.index .swiper-pagination {
	text-align: right;
	padding-right: 20px;
	box-sizing: border-box;
}
.index .swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: 60px;
}

.index .bulletin_bar {
	position: absolute;
	width: 100%;
	height: 43px;
	line-height: 43px;
	background: rgba(33,63,139,0.8);
	padding-left: 20px;
	box-sizing: border-box;
	bottom: 0;
	z-index: 9;
	overflow: hidden;
	white-space: nowrap;
}
.index .bulletin_bar .gg {
	background: url(../images/icn_gg.png) no-repeat 0 center;
	padding-left: 25px;
	color: #9dadd6;
	display: inline-block;
}
.index .bullist, .index .bullist li {
	display: inline-block;
}
.index .bullist a {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	padding: 0 10px;
	border-right: 1px solid #5c76bb;
}
.index .bullist a:last-child {
	border: none;
}
.index .bullist a:hover {
	color: #e55355;
}
.index .bulletin_bar .more_link {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 44px;
	height: 43px;
	background: #e55355;
	text-align: center;
	font-size: 13px;
	color: #fff;
	cursor: pointer;
}
.index .box_md {
	background: #fff;
	padding: 40px 20px;
}
.index .box_md .box_l {
	width: 530px;
}
.index .box_md .box_r {
	width: 555px;
}
.index .box_md .title {
	font-size: 18px;
	color: #1a1a1a;
}
.index .box_md .more {
	font-size: 13px;
	color: #e55355;
}
.index .introduce {
	font-size: 12px;
	color: #666;
	line-height: 20px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 60px;
	margin-top: 16px;
}
.index ul.member {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	padding-top: 20px;
}
.index ul.member li {
	display: inline-block;
	margin-right: 20px;
}
.index ul.member a {
	display: inline-block;
	width: 68px;
	height: 68px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
}
.index ul.member a:hover {
	border: 1px solid #526caf;
	box-shadow: 0 0 5px #526caf;
}

.index .box_pic {
	height: 165px;
	background-color: #526caf;
	font-size: 0;
}
.index .pic_wrap {
	display: inline-block;
	width: 392px;
	position: relative;
	height: 100%;
	overflow: hidden;
}
.index .pic_wrap img {
	transition: all ease 1s;
}
.index .pic_wrap img:hover {
	transform: scale(1.2);
}
.index .pic_wrap a {
	display: block;
	height: 100%;
}
.index .pic_wrap .ttl_wrap {
	position: absolute;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	background: rgba(0,0,0,0.8);
	padding-left: 26px;
	color: #fff;
	height: 39px;
	line-height: 39px;
}
.index .pic_wrap .ttl {
	font-size: 14px;
}
.index .pic_wrap .more_btn {
	font-size: 24px;
	width: 39px;
	text-align: center;
	background: #e55355;
}
.index .pic_wrap .more_btn:hover {
	color: #fff;
}
.index .zz_wrap {
	display: inline-block;
	width: 343px;
	margin-top: 20px;
	margin-left: 30px;
	vertical-align: top;
}
.index .zz_wrap .zz_ttl {
	font-size: 16px;
	color: #fff;
	display: inline-block;
	padding-bottom: 12px;
	border-bottom: 2px solid #9fb3e7;
	margin-bottom: 17px;
}
.index .zz_wrap .more {
	font-size: 13px;
	color: #fff;
}
.index .zz_wrap p {
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 60px;
}

/****************************** 研究成果 *****************/
.research .content {
	background: #fff;
	margin-top: 44px;
	padding: 30px 37px;
	box-sizing: border-box;
	margin-bottom: 60px;
}
.research .content .con_l {
	width: 789px;
}
.research .content .con_r {
	width: 248px;
	padding-top: 54px;
}

/* 搜索结果列表 */
.research .results .item {
	padding: 30px 0;
	border-bottom: 1px solid #f0f0f0;
}
.research .results .item:last-child {
	border: none;
}
.research .results .item_r {
	width: 678px;
}
.research .results .item .pic_wrap {
	display: inline-block;
	width: 81px;
	height: 81px;
	background-position: center;
	background-size: cover;
	border-radius: 8px;
}
.research .results .item .title {
	font-size: 18px;
	color: #333;
	margin-bottom: 15px;
	white-space: nowrap;
	overflow: hidden;
}
.research .results .item .intro {
	font-size: 14px;
	color: #333;
	line-height: 24px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 48px;
}
.research .results .item .info {
	font-size: 14px;
	color: #999;
	line-height: 24px;
	margin-bottom: 20px;
}
.results .item .detail {
	width: 85px;
	height: 30px;
	display: inline-block;
	line-height: 30px;
	text-align: center;
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid #e7e7e7;
	background: #f6f6f6;
	font-size: 13px;
	color: #333;
}
.results .item .detail:hover {
	box-shadow: inset 0 0 10px #e7e7e7;
	color: #333 !important;
}

.txt_gray {
	font-size: 13px;
	color: #999;
	line-height: 22px;
}
.txt_red {
	font-size: 13px;
	color: #e55355;
	line-height: 22px;
}
.request_btn {
	display: block;
	background: #244496;
	height: 44px;
	line-height: 44px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	margin-top: 30px;
}
.request_btn:hover {
	box-shadow: 0 0 10px #244496;
	color: #fff !important;
}
/***********************************研究成果-详情 & 公告详情************************/
.detail_page .content {
    background: #fff;
    margin-top: 44px;
    padding: 30px 37px;
    box-sizing: border-box;
    margin-bottom: 60px;
}
.detail_page .con_l {
	width: 810px;
}
.detail_page .con_r {
	width: 248px;
}
.detail_page .figure_r {
	width: 659px;
}
.detail_page .figure_r .name {
	font-size: 18px;
	color: #e55355;
	margin-bottom: 24px;
}
.detail_page .figure_r .intro {
	font-size: 13px;
	color: #999;
	line-height: 24px;
}
.detail_page .article {
	font-size: 14px;
	color: #1a1a1a;
	line-height: 25px;
	text-align: justify;
}
.detail_page .article img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.detail_page .article p {
	text-indent: 2em;
	margin-bottom: 17px;
	margin-top: 17px;
}

.detail_page .btns {
	margin-bottom: 10px;
}
.detail_page .btns button {
	display: block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	border: 1px solid #e9e9e9;
	background: #f6f6f6;
	text-align: center;
	font-size: 14px;
	color: #1a1a1a;
	cursor: pointer;
}
.detail_page .btns button:hover {
	box-shadow: inset 0 0 10px #d9d9d9;
}
.detail_page button.backward {
	width: 100%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background: #244496;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}
.detail_page button.backward:hover {
	box-shadow: 0 0 10px #244496;
}
/* 公告详情特殊样式 */
.detail_page .htitle {
	font-size: 36px;
	color: #1a1a1a;
	line-height: 42px;
	text-align: justify;
	margin-bottom: 26px;
}
.detail_page .bullinfo {
	line-height: 26px;
	padding-bottom: 17px;
	border-bottom: 1px solid #ededed;
	margin-bottom: 40px;
}
.detail_page .bullinfo .info_l {
	font-size: 13px;
	color: #999;
}
button.btn_font {
	width: 50px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	margin-left: 7px;
	color: #333;
	background: transparent;
	cursor: pointer;
	font-size: 18px;
}
button.btn_font.active {
	color: #e1322e;
	border-color: #dd3635;
}
.detail_page .share {
	line-height: 44px;
}
.bdshare-button-style0-32 {
	display: inline-block;
	vertical-align: bottom;
}
.bdshare-button-style0-32 .bds_sqq {
    background-image: url(../images/social_qq_03.png);
    background-size: contain;
    background-position: center !important;
}
.bdshare-button-style0-32 .bds_weixin {
    background-image: url(../images/social_wechat_05.png);
    background-size: contain;
    background-position: center !important;
}
.bdshare-button-style0-32 .bds_tsina {
    background-image: url(../images/social_weibo.png);
    background-size: contain;
    background-position: center !important;
}
.bdshare-button-style0-32 .bds_qzone {
    background-image: url(../images/social_qzone_15.png);
    background-size: contain;
    background-position: center !important;
}
.bdshare-button-style0-32 .bds_renren {
    background-image: url(../images/social_renren_16.png);
    background-size: contain;
    background-position: center !important;
}
.bdshare-button-style0-32 a:nth-child(7) {
    background-image: url(../images/social_pyq_18.png);
    background-size: contain;
    background-position: center !important;
}
/********************** 公告动态 ***********************/
.bulletin .content {
    background: #fff;
    margin-top: 44px;
    padding: 30px 37px;
    box-sizing: border-box;
    margin-bottom: 60px;
}
.bulletin .con_l {
	width: 810px;
}
.bulletin .con_r {
	width: 248px;
	padding-top: 46px;
}
/* 结果列表 */
.bulletin .results {
	margin-bottom: 77px;
	margin-top: 20px;
}
.bulletin .results li {
	padding: 24px 0;
	border-bottom: 1px solid #f0f0f0;
}
.bulletin .results li:hover {
	background-color: #f0f0f0;
}
.bulletin .results li .img_wrap {
	width: 142px;
	height: 93px;
	background-size: cover;
	background-position: center;
}
.bulletin .results li .img_wrap a {
	display: block;
	height: 100%;
}
.bulletin .results li .li_r {
	width: 625px;
	height: 93px;
	overflow: hidden;
}
.bulletin .results li .title {
	font-size: 18px;
	line-height: 30px;
	color: #333;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 60px;
	margin-bottom: 15px;
}
.bulletin .results li .info {
	font-size: 14px;
	color: #999;
}
.bulletin .results li .info .time {
	margin-right: 16px;
}

.bulletin .recommend a {
	display: block;
	border: 1px solid #e9e9e9;
	border-bottom: none;
	padding: 16px;
}
.bulletin .recommend a:hover {
	background-color: #e9e9e9;
}
.bulletin .recommend a:last-child {
	border-bottom: 1px solid #e9e9e9;
}
.bulletin .recommend .img_wrap {
	width: 79px;
	height: 59px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.bulletin .recommend .rec_r {
	width: 114px;
}
.bulletin .recommend .rec_r h1 {
	font-size: 14px;
	color: #1a1a1a;
	margin-bottom: 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bulletin .recommend .rec_r h2 {
	font-size: 12px;
	line-height: 20px;
	color: #999;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 40px;
}
/************************** 关于我们 ************************/
.aboutus .con_l {
	width: 164px;
}
.aboutus .con_r {
	width: 880px;
}
.aboutus .content {
    background: #fff;
    margin-top: 44px;
    padding: 30px 37px;
    box-sizing: border-box;
    margin-bottom: 60px;
}
/* 左侧导航 */
.aboutus .nav li {
	font-size: 16px;
	color: #1a1a1a;
	line-height: 48px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
}
.aboutus .nav li i:first-child {
	margin-right: 20px;
}
.aboutus .nav li.active {
	color: #e55355;
}

.aboutus .content_box {
	height: 880px;
	overflow: auto;
	font-size: 14px;
	color: #1a1a1a;
	line-height: 25px;
	padding: 0 35px;
}
.aboutus .content_box h1 {
	font-size: 24px;
	color: #1a1a1a;
	margin-bottom: 38px;
}
.aboutus .content_box img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.aboutus .content_box p {
	text-indent: 2em;
    margin-bottom: 17px;
    margin-top: 17px;
}
.aboutus .tables {
	position: relative;
	width: 100%;
}
.aboutus .tables table {
	width: 398px;
	border-collapse: collapse;
}
.aboutus .tables table:last-child {
	position: absolute;
	top: 0;
	left: 400px;
}
.aboutus .tables table caption {
	font-weight: bold;
	line-height: 80px;
}
.aboutus .tables table tr {
	height: 38px;
	line-height: 38px;
	text-align: left;
}
.aboutus .tables table tbody>tr:nth-child(odd) {
	background-color: #f6f6f6;
}
/****************************** 会议活动 ******************************/
.meeting .content {
    background: #fff;
    margin-top: 44px;
    padding: 30px 37px;
    box-sizing: border-box;
    margin-bottom: 60px;
}
.meeting .content .con_l {
    width: 789px;
}
.meeting .content .con_r {
    width: 248px;
    padding-top: 54px;
}
.meeting .results .item_r {
    width: 569px;
}
.meeting .results .item {
    padding: 30px 0;
    border-bottom: 1px solid #f0f0f0;
}
.meeting .results .item:last-child {
    border: none;
}
.meeting .results .item .pic_wrap {
    display: inline-block;
    width: 188px;
    height: 141px;
    background-position: center;
    background-size: cover;
}
.meeting .results .item .title {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
}
.meeting .results .item .info {
	font-size: 14px;
	color: #999;
	line-height: 24px;
	margin-bottom: 20px;
}
.meeting .results .info p {
	padding-left: 28px;
	background-repeat: no-repeat;
	background-position: 0 center;
}
.meeting .results .info p.time {
	background-image: url(../images/calinder.png);
}
.meeting .results .info p.location {
	background-image: url(../images/location.png);
}